<div class="static-aligner">
<h1>Sign in</h1>

<%#= error_messages_for(:user, :order => [:email, :password], :message => "", :header_message => "")%>
<%=form_tag(forgot_path, :id => "submit_form") do %><%=hidden_field_tag(:email) %><% end %>

<%= form_for :user, :url => biz_path do |f| %>
  <p>
      <%= label_tag(:email, "Email") %><br />
      <%= f.text_field :email %>
  </p>
  <p>
      <%= label_tag(:password, "Password") %><br />
      <%= f.password_field :password %>
  </p>
  <%= content_tag :p, @message, :style => "color:red;" if @message %>
  <p>
      <span class="button-cool-green"><%= f.submit("Go!") %></span>
      <%#= link_to "Forgot Password?", forgot_path, :class => "alter-link" %>
      <%#= link_to "Forgot Password?", "javascript:void();", :class => "alter-link", :onclick => "var f = document.forms['submit_form'];f['email'].value=$('user_email').value;f.submit();return false;" %>
      <%#=link_to "alter-link","#",:onclick => "alert(jQuery('#user_email').val());"%>
  </p>
<% end %>
 </div>
